@media screen and (min-width:350px) and (max-width:767px){
    body {
        background: url(background.jpg);
      }
    
      /* Add a black background color to the top navigation */
    .topnav {
    overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 9px 9px;
    text-decoration: none;
    font-size: 20px;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
    background-color: #ddd;
    color: black;
    }

    /* Add a color to the active/current link */
    .topnav a.active {
    background-color: #04AA6D;
    color: white;
    }

    /* Right-aligned section inside the top navigation */
    .topnav-right {
    float: right;
    }

    .footer-dark {
        padding:8px 0;
        color:#f0f9ff;
        background-color:#282d32;
    }
    
    .footer-dark h3 {
        margin-top:0;
        margin-bottom:8px;
        font-weight:bold;
        font-size:10px;
        
    }
    
    .footer-dark ul {
        padding:0;
        list-style:none;
        line-height:1;
        font-size:10px;
        margin-bottom:0;
        text-align:center;
    }

    .footer-dark ul a {
        color:inherit;
        text-decoration:none;
        opacity:0.6;
        margin: 5% 5%;
    }

    .footer-dark ul a:hover {
        opacity:0.8;
    }

    .footer-dark .copyright {
        text-align:center;
        padding-top:16px;
        opacity:0.3;
        font-size:9px;
        margin-bottom:0;
    }
    .font9 {
    font-family: "Lucida", serif;
    color: #FFFFFF;
    font-size: 2rem;
    line-height: 1;
    margin-top: 0;
    text-align: left;
    margin-bottom: 5%;
    text-align: center;
}
.font3 {
    font-family: "montserrat-bold", sans-serif;
    font-size: 1.8rem;
    color: #862121;
    text-transform: uppercase;
    letter-spacing: .5rem;
    position: relative;
    margin-bottom: 50px;
    text-align: center;
}
}

@media screen and (min-width:768px) and (max-width:1024px){
    body {
        background: url(background.jpg);
      }
    
      /* Add a black background color to the top navigation */
    .topnav {
    overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 9px 9px;
    text-decoration: none;
    font-size: 20px;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
    background-color: #ddd;
    color: black;
    }

    /* Add a color to the active/current link */
    .topnav a.active {
    background-color: #04AA6D;
    color: white;
    }

    /* Right-aligned section inside the top navigation */
    .topnav-right {
    float: right;
    }

    .footer-dark {
        padding:8px 0;
        color:#f0f9ff;
        background-color:#282d32;
    }
    
    .footer-dark h3 {
        margin-top:0;
        margin-bottom:8px;
        font-weight:bold;
        font-size:10px;
        
    }
    
    .footer-dark ul {
        padding:0;
        list-style:none;
        line-height:1;
        font-size:10px;
        margin-bottom:0;
        text-align:center;
    }

    .footer-dark ul a {
        color:inherit;
        text-decoration:none;
        opacity:0.6;
        margin: 5% 5%;
    }

    .footer-dark ul a:hover {
        opacity:0.8;
    }

    .footer-dark .copyright {
        text-align:center;
        padding-top:16px;
        opacity:0.3;
        font-size:9px;
        margin-bottom:0;
    }
    .font9 {
    font-family: "Lucida", serif;
    color: #FFFFFF;
    font-size: 2rem;
    line-height: 1;
    margin-top: 0;
    text-align: left;
    margin-bottom: 5%;
    text-align: center;
}
.font3 {
    font-family: "montserrat-bold", sans-serif;
    font-size: 1.8rem;
    color: #862121;
    text-transform: uppercase;
    letter-spacing: .5rem;
    position: relative;
    margin-left: 200px;
    margin-bottom: 100px;
    text-align: center;
    padding-right: 200px;
}
}


@media screen and (min-width:1024px){
    body {
        background: url(background.jpg);
    }
    
    /* Add a black background color to the top navigation */
    .topnav {
        overflow: hidden;
    }
    
    /* Style the links inside the navigation bar */
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    /* Change the color of links on hover */
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    /* Add a color to the active/current link */
    .topnav a.active {
      background-color: #04AA6D;
      color: white;
    }
    
    /* Right-aligned section inside the top navigation */
    .topnav-right {
      float: right;
    }
    
    
    .footer-dark {
        padding:10px 0;
        color:#f0f9ff;
        background-color:#282d32;
    }
      
    .footer-dark h3 {
        margin-top:0;
        margin-bottom:12px;
        font-weight:bold;
        font-size:16px;
        
    }
      
    .footer-dark ul {
        padding:0;
        list-style:none;
        line-height:1.6;
        font-size:14px;
        margin-bottom:0;
        text-align:center;
    }
    
    .footer-dark ul a {
        color:inherit;
        text-decoration:none;
        opacity:0.6;
        margin: 5% 5%;
    }
    
    .footer-dark ul a:hover {
        opacity:0.8;
    }
    
    .footer-dark .copyright {
        text-align:center;
        padding-top:24px;
        opacity:0.3;
        font-size:13px;
        margin-bottom:0;
    }
    
    .font9 {
        font-family: "Lucida", serif;
        color: #FFFFFF;
        font-size: 2rem;
        line-height: 1;
        margin-top: 0;
        text-align: left;
        margin-bottom: 5%;
        text-align: center;
    }
    .font3 {
        font-family: "montserrat-bold", sans-serif;
        font-size: 1.8rem;
        color: #862121;
        text-transform: uppercase;
        letter-spacing: .5rem;
        position: relative;
        margin-left: 200px;
        margin-bottom: 100px;
        text-align: center;
        padding-right: 200px;
    }
}
